.header-container{
    position: sticky;
    background-color: black;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
}

.top-menu{
    border-bottom: 1px solid gray;
    height: 24px;
}

.fa-phone{
    color: red;
    margin-right: 2px;
}

 a{
    text-decoration: none;
 }
.call-1{
    margin-left: 5px;
    font-size: small;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
}

.call-2{
    margin-left: 10px;
    font-size: small;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
}

.support-logo{
    width:16px;
    margin-right: 2px;
}

.care{
    margin-left: 10px;
}



.login{
    font-family: sans-serif;
    margin-left: 48%;
}
.login-logo{
    color: red;
    margin-right: 6px;
}
.login>.login-button{
    color: white;
    text-decoration: none;
}
.caretDown{
    margin-left: 8px;
    color: red;
}
